@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@layer base {
    :root {
        --background: 231.4 4.9% 94.6%;
        --foreground: 60 20% 10%;
        --card: 231.4 4.9% 86.6%;
        --card-foreground: 60 20% 10%;
        --popover: 231.4 5.300000000000001% 83.6%;
        --popover-foreground: 228.5 0% 15.099999999999994%;
        --primary: 325.5 90% 26.299999999999997%;
        --primary-foreground: 327 52.7% 90%;
        --secondary: 264.7 79.5% 22.400000000000006%;
        --secondary-foreground: 264.2 36.7% 90%;
        --muted: 231.4 5.300000000000001% 83.6%;
        --muted-foreground: 60 20% 33.900000000000006%;
        --accent: 231.4 4.9% 94.6%;
        --accent-foreground: 60 20% 10%;
        --destructive: 0 90% 33.3%;
        --destructive-foreground: 360 70.3% 90%;
        --border: 229.6 5% 70%;
        --input: 229.6 5% 70%;
        --ring: 325.5 90% 26.299999999999997%;
        --radius: 0.5rem;
        --chart-1: 325.5 90% 80%;
        --chart-2: 264.7 79.5% 80%;
        --chart-3: 31 90% 80%;
        --chart-4: 31 90% 80%;
        --chart-5: 325.5 90% 80%;

        --sidebar-background: 231 5% 92%;
        --sidebar-foreground: 60 20% 31%;
        --sidebar-primary: 326 90% 50%;
        --sidebar-primary-foreground: 327 53% 100%;
        --sidebar-accent: 231 5% 75%;
        --sidebar-accent-foreground: 60 20% 10%;
        --sidebar-border: 230 5% 67%;
        --sidebar-ring: 326 90% 23%;
    }

    .dark {
        --background: 231.4 14.9% 18.4%;
        --foreground: 60 30% 96.1%;
        --card: 231.4 14.9% 18.4%;
        --card-foreground: 60 30% 96.1%;
        --popover: 231.4 15.3% 16.4%;
        --popover-foreground: 228.5 7.5% 84.9%;
        --primary: 325.5 100% 73.7%;
        --primary-foreground: 327 62.7% 5.3%;
        --secondary: 264.7 89.5% 77.6%;
        --secondary-foreground: 264.2 46.7% 5.7%;
        --muted: 231.4 15.3% 16.4%;
        --muted-foreground: 60 30% 66.1%;
        --accent: 231.4 14.9% 18.4%;
        --accent-foreground: 60 30% 96.1%;
        --destructive: 0 100% 66.7%;
        --destructive-foreground: 360 80.3% 4.8%;
        --border: 229.6 15% 30%;
        --input: 229.6 15% 30%;
        --ring: 325.5 100% 73.7%;
        --radius: 0.5rem;
        --chart-1: 325.5 100% 73.7%;
        --chart-2: 264.7 89.5% 77.6%;
        --chart-3: 31 100% 71.2%;
        --chart-4: 31 100% 81.2%;
        --chart-5: 325.5 100% 83.7%;

        --sidebar-background: 231 15% 10%;
        --sidebar-foreground: 60 30% 50%;
        --sidebar-primary: 326 100% 50%;
        --sidebar-primary-foreground: 327 62.7% 5.3%;
        --sidebar-accent: 231 15% 25%;
        --sidebar-accent-foreground: 60 30% 96.1%;
        --sidebar-border: 230 15% 22%;
        --sidebar-ring: 326 100% 66%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
